html {
    overflow:hidden;
}

body {
    background-image: url("common/html-resources/Game_bck.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin: 10px;
    overflow:hidden;
}

ul {
    padding-left: 10px;
}

li {
    background: white;
    list-style-type: none;
    padding: 5px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.button {
    background-color: #6681da;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 16px 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #34335b;
  }