body {
    margin: 10px;
}

ul {
    padding-left: 10px;
}

li {
    background: white;
    list-style-type: none;
    padding: 5px;
}

/*
a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background: #ddd;
}
*/

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 16px 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #347736;
  }