body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.overlay {
    position:absolute;
    top: 8px;
    left: 0;
    top: 0;
}

.scoreboard {
    position:absolute;
    top: 8px;
    right: 16px;
    left: 0;
    top: 0;
}

.no-touch {
    touch-action: none;
}

a.back {
    display: block;
    margin: 20px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.score {
    display: block;
    float: right;
    margin: 20px;
    padding: 5px 10px;
    background: rgb(51, 49, 49);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a.back:hover {
    background: #ddd;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader {
    width: 100px;
    height: 100px;

    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(1800deg); }
}
