body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position:absolute;
    top: 8px;
    left: 0;
    top: 0;
}

.scoreboard {
    position:absolute;
    top: 8px;
    right: 16px;
    border: #000;
    border-radius: 20px;
    left:auto;
    background-color: rgb(199, 100, 60);
    top: 16px;
}

.no-touch {
    touch-action: none;
}

a.back {
    display: block;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

span.plumscore {
    display: inline;
    position: absolute;
    
    margin-left: 10px;
    text-decoration: none;
    color: rgb(0,0,0);
}

span.branchscore {
    display: inline;
    position: absolute;
 
    margin-left: 10px;
    
    text-decoration: none;
    color: rgb(0,0,0);
}

a.back:hover {
    background: #ddd;
}

div.inventory{
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

div.item1, div.item2{
    margin: 10px ;
    border: #000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgdiv{
    margin: 10px;
    width: 160px;

}

.inlineLeft, .inlineRight{
    position:absolute;
    display: inline;
}

.inlineRight{
    right: 0;
}

.imgdiv2{
    margin: 10px;
    width: 160px;

}
.scorediv{
    display: block;
}


.loader {
    width: 100px;
    height: 100px;
    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(1800deg); }
}
