body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position:absolute;
    top: 8px;
    left: 0;
    top: 0;
}

.scoreboard {
    position:relative;

    border: #000;
    border-radius: 20px;
    left:auto;
    padding: 3px;
    

}

.no-touch {
    touch-action: none;
}

a.back {
    display: block;
    margin: 20px;
    margin-top: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    background: rgb(196, 202, 255, 1);
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

span.plumscore {
    display: inline;
    position: absolute;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    color: rgb(0,0,0);
}

span.branchscore {
    display: inline;
    position: absolute;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

a.back:hover {
    background: #ddd;
}

.warning{
    position: fixed;
    top: 50%;
    left: 50%;
    visibility: hidden;
}

.inw{
    display: flex;
}

#gameover{
    position: relative;
    background-color: rgb(196, 202, 255, 0.8);
    padding: 20px;
    border: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: fit-content;
    border-width: 2px;
    border-color: rgb(113, 51, 194);
    border-style: solid;
    border-bottom: 0px;
    border-radius: 5px;
    font-size: x-large;
  
    font-weight: bold;
    visibility: visible;

}

#scorediv{
    border-width: 2px;
    background-color: rgb(196, 202, 255, 1);
    border-color: rgb(113, 51, 194);
    border-style: solid;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    padding: 10px;
    text-align: center;
}

#percent{
    font-size: xx-large;
    color: rgb(243, 37, 1);
}

div.ending{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    
}

div.timerdiv{
    position: fixed;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 0%;
    margin-top: 16px;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(196, 202, 255, 0.9);
}

.firediv{
    margin-top: 4px;
    position: relative;
    display: inline-block;
    background: #eee;
    margin-right: 8px;
    margin-left: 8px;
    height: 20px;
    margin-bottom: 8px;
    border-radius: 6px;
    overflow: hidden;

}

#fireimg{
    margin-left: 12px;
    margin-bottom: 8px;
}

.firediv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
    background: rgb(241, 103, 22);
  }

progress {
    opacity: 0;
  }

#visibility{
    visibility: hidden;
}

div.tracker{
    position: absolute;
    right: 16px;
    left:auto;
    border-radius: 8px;
    top: 16px;
    background-color: rgb(196, 202, 255);
}


img {
    max-width: 100%;
    max-height: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgdiv, .imgdiv2{
    margin: 10px;
    width: 160px;

}

.inlineLeft, .inlineRight{
    position:absolute;
    display: inline;
}

.inlineRight{
    right: 0;
}

.scorediv{
    display: block;
}


.loader {
    width: 100px;
    height: 100px;
    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(1800deg); }
}
